* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: black;
    line-height: 1.6; /* t채ss채 */
}

nav {
    background-color: rgb(37, 32, 32);
    height: 100px;
    border-bottom: 1px solid black;
}

nav .content {
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li {
    margin-right: 20px;
}

nav h1 {
    color: gold;
    font-size: 25px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}

main.home {
    padding: 20px;
    background-color: gold;
    margin: 20px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    margin: 16px auto;
}



.info {
    background-image: url("img/middle.jpg");
    background-size: 60%;
    margin: 100px auto;
    padding: 17px 26px;
    width: 80%;
    max-width: 600px;
    position: relative;
}




#kuva2 { /*t채ss채 se crown */
    width: 100px;
    height: 100px;
    position: absolute;
    top: -50px;
    right: 25px;
}

.ravintolaimg {
    width: 25%;
    margin-right: 30px;
    margin-bottom: 30px;
}

#spani {
    color: black;
    font-size: 23px;
    position: fixed;
}

#teksti {
    font-size: 13px;
}

/* alatunniste! */
footer {
    background-color: #650000;
    padding: 20px;
    text-align: center;
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
}